.can{
    margin: auto;
    width: 1045px;
    height: 680px;
    background: url("png/bg.png");
}
body{
    background: url("png/bg1.png");
}
.png{
    width: 1005px;
    height: 600px;
    margin: 20px 20px 20px 20px;
    background: white;
    border: 5px rgb(21, 150, 6);
}
img{
    width: 500px;
    height: 144px;
}