.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: url("png/bg1.png");
}

img{
    width: 500px;
    height: 144px;
}
input{
    position: fixed;
    margin-bottom: 1100px;
    margin-left: 600px;
    height: 50px;
    width: 500px;
    text-align: center;
 
}
li{
    display: flex;
    list-style: none;
    margin-right:200px ;
}